html{
  height:100%
}
body {
  background-image:url("./images/azu3.png");
  background-attachment:fixed;
color:#eee;
  min-height:100%;
}
h1{
  font-size:40px;
}
div#terminal{
  color:#caffdd;
}
div#container{
  padding-left:10px;
}
a {
  color:#caffdd;
}
a.dir{
  color:#ffe4b5;
}
table{
  min-height:100%;
  margin:10px;
}
p#source{ 
  color:#caffdd;
}
h2{
  font-size:12px;
  color:#ffffff;
}
#loading {
  text-align:center;
  margin:200px;
  display: none;
}

